p {
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-bottom: 3rem;
    animation: nosotros 1s ease 0s 1 normal forwards;
    margin: 5rem;
}

.containerimages {
    display: flex;
    justify-content: space-evenly;
}

.col{
    margin: 0rem 3rem 0rem 3rem;
}

.m4{
    width: 100%;
}

