.titulocontacto {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    animation: tituloformulario 1s ease 0s 1 normal forwards;
}

.nombre {
    color: $colortitle;
}

.apellido {
    color: $colortitle;
}

.email {
    color: $colortitle;
}

.mensaje {
    color: $colortitle;
}

form {
    width: 80%;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.904);
    background-color: rgb(0, 0, 0);
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    animation: formulario 1s ease 0s 1 normal forwards;

    label {
        width: 100%;
        font-weight: bold;
        display: inline-block;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 3px 10px;
        border: 1px solid #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
        margin: 8px 0;
        display: inline-block;
    }

    input[type="submit"] {
        font-size: 20px;
        width: 100%;
        margin-top: 32px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        display: block;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }

    input[type="submit"]:hover {
        cursor: pointer;
    }

    textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
        margin: 8px 0;
        resize: none;
        display: block;
    }
}