article {
    @include centrador1();
    padding-bottom: 5rem;
    padding-top: 5rem;

    img {
        width: 50%;
        margin: 1rem;
        animation: iniciofotos 1s ease 0s 1 normal forwards;
    }

    h2 {
        color: $colortitle;
        font-size: 40px;
        animation: divinicio 1s ease 0s 1 normal forwards;
    }

    h3 {
        color: $colortitle;
        display: flex;
        padding-top: 1rem;
        font-size: 25px;
        padding-left: 2rem;
        animation: divinicio 1s ease 0s 1 normal forwards;
    }

    a.buttom {
        margin-left: 40%;
        margin-top: 1rem;
        font-size: 20px;
        text-decoration: none;
        height: 10px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #343a40;
        box-shadow: 0 5px #212529;
        animation: divinicio 1s ease 0s 1 normal forwards;
    }

    .buttom:hover {
        box-shadow: 0 3px #212529;
        top: 1px;
    }

    .buttom:active {
        box-shadow: 0 0 #212529;
        top: 5px;
    }
}

.titulo2{
    display: flex;
}

.titulo4{
    display: flex;
}