header {
    height: 200px;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    background-color: #212529;
    @include centrador1();

    img {
        width: 12%;
    }

    h1 {
        color: rgb(255, 255, 255);
        padding-right: 3%;
        display: flex;
    }

    ul {
        @include centrador2();
        font-size: 23.5px;
        gap: 5rem;
        margin: 1rem;

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .fa-bars:before,
    .fa-navicon:before {
        display: none;
    }
    
    @media screen and (max-width: 790px) {

        .fa-bars:before,
        .fa-navicon:before {
            display: block;
            margin: 1rem;
        }

    }
}