body {
  background-color: #0F1113;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23353636' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23000000'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 200px;
  width: 100%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  background-color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 12%;
}

header h1 {
  color: white;
  padding-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  gap: 5rem;
  margin: 1rem;
}

header ul li {
  list-style: none;
}

header ul a {
  text-decoration: none;
  color: white;
}

header .fa-bars:before,
header .fa-navicon:before {
  display: none;
}

@media screen and (max-width: 790px) {
  header .fa-bars:before,
  header .fa-navicon:before {
    display: block;
    margin: 1rem;
  }
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

article img {
  width: 50%;
  margin: 1rem;
  -webkit-animation: iniciofotos 1s ease 0s 1 normal forwards;
          animation: iniciofotos 1s ease 0s 1 normal forwards;
}

article h2 {
  color: white;
  padding-left: 8rem;
  font-size: 50px;
}

article h3 {
  color: white;
  padding-top: 1rem;
  font-size: 25px;
  padding-left: 2rem;
}

article a.buttom {
  margin-left: 40%;
  margin-top: 1rem;
  font-size: 25px;
  text-decoration: none;
  width: 10px;
  height: 10px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #343a40;
  -webkit-box-shadow: 0 5px #212529;
          box-shadow: 0 5px #212529;
}

article .buttom:hover {
  -webkit-box-shadow: 0 3px #212529;
          box-shadow: 0 3px #212529;
  top: 1px;
}

article .buttom:active {
  -webkit-box-shadow: 0 0 #212529;
          box-shadow: 0 0 #212529;
  top: 5px;
}

/* servicios */
.tituloservicio {
  color: white;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}

.tituloservicio2 {
  color: white;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}

.tituloservicio3 {
  color: white;
  font-size: 50px;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.tituloservicio4 {
  color: white;
  font-size: 50px;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.tituloservicio5 {
  color: white;
  font-size: 50px;
  margin-top: 5rem;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.containerCoach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parrafocoach {
  color: white;
  font-size: 29px;
  padding-top: 2rem;
  margin: 1rem;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.div_servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.imagecsgo {
  width: 300px;
  margin-left: 9rem;
  margin-top: 2rem;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.imagegc1 {
  width: 300px;
  margin-left: 10rem;
  margin-top: 2rem;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.imagecoach {
  width: 25%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.divconteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.li_servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 40px;
  margin-left: 0rem;
  margin-top: 2rem;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

.boton {
  height: 50px;
  width: 100px;
  -webkit-animation: divservicio 1s ease 0s 1 normal forwards;
          animation: divservicio 1s ease 0s 1 normal forwards;
}

/* sobre nosotros */
.pnosotros {
  color: white;
  font-size: 35px;
  padding-bottom: 3rem;
  -webkit-animation: nosotros 1s ease 0s 1 normal forwards;
          animation: nosotros 1s ease 0s 1 normal forwards;
  margin: 5rem;
}

.m4 {
  width: 300px;
}

.containerimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* preguntas frecuentes */
.preguntastitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  padding-left: 0%;
  color: white;
  font-size: 50px;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}

.preguntas {
  color: white;
  font-size: 35px;
  padding-top: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}

.respuestas {
  color: white;
  font-size: 25px;
  margin-left: 10rem;
  margin-right: 10rem;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
  -webkit-text-stroke: 0.5px black;
}

/* contacto */
.titulocontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 50px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -webkit-animation: tituloformulario 1s ease 0s 1 normal forwards;
          animation: tituloformulario 1s ease 0s 1 normal forwards;
}

.nombre {
  color: white;
}

.apellido {
  color: white;
}

.email {
  color: white;
}

.mensaje {
  color: white;
}

form {
  width: 80%;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.911);
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  -webkit-animation: formulario 1s ease 0s 1 normal forwards;
          animation: formulario 1s ease 0s 1 normal forwards;
}

form label {
  width: 100%;
  font-weight: bold;
  display: inline-block;
}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type="submit"] {
  width: 100%;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

.fcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
  height: 372px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.911);
}

.headerbars {
  display: none;
}

.nav_item-oculto {
  display: none;
}

@-webkit-keyframes myAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes iniciofotos {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes iniciofotos {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes divinicio {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes divinicio {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes divservicio {
  0% {
    opacity: 0;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes divservicio {
  0% {
    opacity: 0;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes nosotros {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes nosotros {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes formulario {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes formulario {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes tituloformulario {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes tituloformulario {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 1240px) {
  .titulo {
    display: none;
  }
  .article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .article h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    font-size: 1.5rem;
    margin: 1rem;
  }
  .article h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    font-size: 1rem;
    margin: 1rem;
  }
  .imagemm {
    width: 100%;
    padding: 3rem;
    margin: 0rem;
    -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
            animation: myAnim 1s ease 0s 1 normal forwards;
  }
  .imagegc {
    width: 100%;
    padding: 3rem;
    margin: 0rem;
    -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
            animation: myAnim 1s ease 0s 1 normal forwards;
  }
  .nav_ul {
    font-size: 15px;
  }
  .li_servicios {
    font-size: 20px;
  }
  /* servicios */
  .div_servicios {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .div_coach {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 200px 400px 400px;
        grid-template-rows: 200px 400px 400px;
  }
  .containerCoach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imagecoach {
    margin-left: 0%;
    width: 20rem;
    margin-top: 0rem;
    -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
            animation: myAnim 1s ease 0s 1 normal forwards;
  }
  .tituloservicio {
    font-size: 70px;
  }
  .tituloservicio2 {
    font-size: 30px;
    -webkit-text-stroke: 0px black;
  }
  .tituloservicio3 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 35px;
    -webkit-text-stroke: 0px black;
  }
  .tituloservicio4 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 35px;
    padding-top: 2rem;
    -webkit-text-stroke: 0px black;
  }
  .tituloservicio5 {
    margin-left: 0%;
    font-size: 35px;
    -webkit-text-stroke: 0px black;
  }
  .li_servicios {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem;
    padding-top: 1rem;
  }
  .parrafocoach {
    font-size: 25px;
  }
  .boton {
    height: 30px;
  }
  .imagecsgo {
    margin-left: 0rem;
    -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
            animation: myAnim 1s ease 0s 1 normal forwards;
  }
  .containerImageCsgo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imagegc1 {
    margin-left: 0rem;
    -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
            animation: myAnim 1s ease 0s 1 normal forwards;
  }
  .containerImageGc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pnosotros {
    font-size: 35px;
    padding-top: 0rem;
  }
  .ul_servicios {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0rem;
  }
  /* contacto */
  .titulocontacto {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nombre {
    font-size: 20px;
  }
  .apellido {
    font-size: 20px;
  }
  .email {
    font-size: 20px;
  }
  .mensaje {
    font-size: 20px;
  }
  .fcontact {
    height: 200px;
  }
  form {
    width: 500px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 5rem;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.911);
  }
  form label {
    width: 80px;
    font-weight: bold;
    display: inline-block;
  }
  form input[type="text"],
  form input[type="email"] {
    width: 350px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
  }
  form input[type="submit"] {
    width: 100%;
    font-size: 20px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000;
  }
  form input[type="submit"]:hover {
    cursor: pointer;
  }
  textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
  }
  /* sobre nosotros */
  .pnosotros {
    font-size: 30px;
    margin: 1rem;
    margin-top: 13rem;
    margin-bottom: 13rem;
    -webkit-animation: anim 1s ease 0s 1 normal forwards;
            animation: anim 1s ease 0s 1 normal forwards;
  }
  /* preguntas frecuentes */
  .pfrecuentes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 50px 250px 185px 185px 185px 210px;
        grid-template-rows: 50px 250px 185px 185px 185px 210px;
    -webkit-animation: anim 1s ease 0s 1 normal forwards;
            animation: anim 1s ease 0s 1 normal forwards;
  }
  @-webkit-keyframes anim {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes anim {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  .preguntastitulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .preguntas {
    padding-top: 1rem;
    color: #ffffff;
  }
  .respuestas {
    font-size: 20px;
  }
  @-webkit-keyframes myAnim {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-250px);
              transform: translateX(-250px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes myAnim {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-250px);
              transform: translateX(-250px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
}

@media screen and (max-width: 790px) {
  body {
    background-color: #0F1113;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23353636' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23000000'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
  }
  .fa-bars:before,
  .fa-navicon:before {
    display: block;
    margin: 1rem;
  }
  .logo {
    width: 150px;
    height: 150px;
  }
  .imagemm {
    display: none;
  }
  .imagegc {
    display: none;
  }
  .titulo {
    display: none;
  }
  .div {
    padding-top: 4rem;
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 4.5rem;
  }
  .article h2 {
    padding-top: 3rem;
    padding-left: 0rem;
  }
  .article h3 {
    padding-left: 0rem;
  }
  .article a.buttom {
    padding-left: 0%;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 0%;
  }
  .titulo2 {
    font-size: 25px !important;
  }
  .titulo3 {
    font-size: 20px !important;
  }
  .titulo4 {
    font-size: 25px !important;
  }
  .titulo5 {
    font-size: 20px !important;
    margin-top: 0px;
  }
  .buttom {
    width: 10px;
    height: 10px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #343a40;
    -webkit-box-shadow: 0 5px #212529;
            box-shadow: 0 5px #212529;
  }
  .buttom:hover {
    -webkit-box-shadow: 0 3px #212529;
            box-shadow: 0 3px #212529;
    top: 1px;
  }
  .buttom:active {
    -webkit-box-shadow: 0 0 #212529;
            box-shadow: 0 0 #212529;
    top: 5px;
  }
  .mapa {
    width: 100px;
    height: 100px;
  }
  .header {
    width: 100%;
    padding: 0rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer {
    margin-top: 13rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px;
  }
  .footer p {
    font-size: 20px;
    padding-left: 31%;
    padding-bottom: 1rem;
  }
  .footer iframe {
    width: 100%;
  }
  #sidebars {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    max-width: 250px;
    z-index: 1000;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .headerbars {
    display: inline-block;
    padding-left: 7rem;
    font-size: 30px;
    color: white;
  }
  #sidebars:target {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav_ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_item-oculto {
    display: inline;
  }
  /* para sacar el subrayado del nav porque no me dejaba con nada */
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
  /* para sacar el subrayado del nav porque no me dejaba con nada */
  /* servicios */
  .div_servicios {
    padding-top: 0rem;
  }
  .tituloservicio {
    font-size: 50px;
    -webkit-text-stroke: 1px #ffffff;
  }
  .tituloservicio2 {
    font-size: 20px;
    margin-top: 1rem;
    margin: 1rem;
    -webkit-text-stroke: 0px;
  }
  .tituloservicio3 {
    font-size: 30px;
    -webkit-text-stroke: 0px;
  }
  .containerTS3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tituloservicio4 {
    font-size: 30px;
    margin-top: 2rem;
    -webkit-text-stroke: 0px;
  }
  .containerTS4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tituloservicio5 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 2rem;
    -webkit-text-stroke: 0px;
  }
  .parrafocoach {
    font-size: 20px;
    padding-left: 1rem;
  }
  .imagecoach {
    width: 150px;
    padding-top: 2rem;
  }
  .imagegc1 {
    width: 150px;
    margin-left: 0rem;
    padding-bottom: 1rem;
  }
  .containerImageGc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imagecsgo {
    width: 150px;
    padding-bottom: 1rem;
    margin-left: 0rem;
  }
  .containerImageCsgo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ul_servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .li_servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 1rem;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .boton {
    min-width: 100px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: initial;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #343a40;
    -webkit-box-shadow: 0 5px #212529;
            box-shadow: 0 5px #212529;
  }
  .boton:hover {
    -webkit-box-shadow: 0 3px #212529;
            box-shadow: 0 3px #212529;
    top: 1px;
  }
  .boton:active {
    -webkit-box-shadow: 0 0 #212529;
            box-shadow: 0 0 #212529;
    top: 5px;
  }
  .div_servicios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerbars {
    display: inline-block;
    padding-left: 7rem;
    font-size: 30px;
    color: white;
  }
  .divconteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .div_coach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* sobre nosotros */
  .pnosotros {
    font-size: 25px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    -webkit-text-stroke: 0px;
  }
  /* preguntas frecuentes */
  .preguntastitulo {
    padding-left: 50px;
    font-size: 25px;
    -webkit-text-stroke: 0px;
  }
  .preguntas {
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-text-stroke: 0px;
  }
  .respuestas {
    font-size: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-text-stroke: 0px;
  }
  /* contacto */
  .titulocontacto {
    font-size: 25px;
    padding-bottom: 3rem;
    -webkit-text-stroke: 0px;
  }
  .nombre {
    font-size: 15px;
  }
  .apellido {
    font-size: 15px;
  }
  .email {
    font-size: 15px;
  }
  .mensaje {
    font-size: 15px;
    padding-top: 0%;
  }
  .fcontact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px;
  }
  .fcontact p {
    font-size: 20px;
    padding-bottom: 1rem;
  }
  .fcontact iframe {
    width: 100%;
  }
  .div_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    padding-top: 5rem;
  }
  form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.911);
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  form label {
    width: 80px;
    font-weight: bold;
    display: inline-block;
  }
  form input[type="text"],
  form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
  }
  form input[type="submit"] {
    width: 100%;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000;
  }
  form input[type="submit"]:hover {
    cursor: pointer;
  }
  textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
  }
}
/*# sourceMappingURL=estilos.css.map */